/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mol-lighter: white;
    --mod-primary: #b3e5fc;
}

body {
    font-family: 'Poopins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 70%;
    max-width:  1176px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}

/* #endregion Common */


/* #region Header */
header {
    text-align: center;
    background-color: var(--mol-lighter);
    
    nav {
        display: flex;
        gap: 0.5rem;
        justify-content: center;

        & a {
            padding: 0.5rem;
            text-decoration: none;
            font-weight: 400;

            &.active {
                background-color: var(--mod-primary);
            }
        }
    }
}

/* #endregion Header */

/* #region Main */
main {
    min-height: 60vh;
    background-color: peachpuff;

   & #movies{
    & h1 {
        padding: 1rem;
       text-align: center;
    }
        .card{
            padding: 0.75rem;
            background-color: rgb(173, 196, 173);
            text-align: center;
            border-radius: 25px;
            line-height: 1.5rem;
        }
    }

}
/* #endregion Main */


/* #region Footer */



/* #endregion Footer */